<h2>Clubs</h2>



<% @clubs.each do |club| %>

<div class="club">
	<img src="logo" />
	<h3><%=h club.name || "Club Name" %></h3>
	<span><%=h club.tagline || "Tagline" %></span>
	<ul>
	<% @club.tags.each do |tag| %>
		<li><a href="#"><%= tag %></a></li>
	<% end if 0%>
	</ul>
</div>

<% end %>


