<h2>Clubs</h2>



<% @clubs.each do |club| %>

<div class="club">
	<img src="logo" />
	<h3><%=h club.name || "Club Name" %></h3>
	<span><%=h club.tagline || "Tagline" %></span>
	<ul>
		<li><a href="#">Tag</a></li>
		<li><a href="#">Tag</a></li>
		<li><a href="#">Tag</a></li>
	</ul>
</div>

<% end %>


