.clubs_container
	-@clubs.each do |club|
		-if club.tag_list.include?("club") #TODO: remove when optimized in controller
			= render :partial => 'layouts/partials/club_box', :locals => {:club => club, :ignore => ["club", "affiliated"]}
			
