%h2 New Club

- form_for(@new_club, :html => {:multipart => true}) do |f|
	= f.error_messages

	= render :partial => "form", :locals => {:f => f }

	%p
		= f.submit 'Create'
		
= link_to 'Cancel', clubs_path
