#feed
	= render :partial => "layouts/default/feed_item", :collection => @feed
	/= will_paginate @feed
= render :partial => "layouts/partials/add_feed_item_link", :locals => {:club => @club, :time => @feed_earliest_time}