/*
Sass::SyntaxError: Undefined mixin 'blueprint-typography'.
on line 2 of C:/Users/Cliff/Documents/Aptana Studio/SkuleClubs/app/stylesheets/ben.sass

1: @import base.sass
2: +blueprint-typography
3: 
4: 
5: //Variables


Backtrace:
C:/Users/Cliff/Documents/Aptana Studio/SkuleClubs/app/stylesheets/ben.sass:2
C:/ruby/lib/ruby/gems/1.8/gems/haml-2.2.1/lib/sass/tree/mixin_node.rb:27:in `_perform'
C:/ruby/lib/ruby/gems/1.8/gems/haml-2.2.1/lib/sass/tree/node.rb:156:in `perform'
C:/ruby/lib/ruby/gems/1.8/gems/haml-2.2.1/lib/sass/tree/node.rb:200:in `perform_children'
C:/ruby/lib/ruby/gems/1.8/gems/haml-2.2.1/lib/sass/tree/node.rb:200:in `map'
C:/ruby/lib/ruby/gems/1.8/gems/haml-2.2.1/lib/sass/tree/node.rb:200:in `perform_children'
C:/ruby/lib/ruby/gems/1.8/gems/haml-2.2.1/lib/sass/tree/node.rb:191:in `perform!'
C:/ruby/lib/ruby/gems/1.8/gems/haml-2.2.1/lib/sass/tree/node.rb:179:in `_perform'
C:/ruby/lib/ruby/gems/1.8/gems/haml-2.2.1/lib/sass/tree/node.rb:156:in `perform'
C:/ruby/lib/ruby/gems/1.8/gems/haml-2.2.1/lib/sass/tree/node.rb:103:in `render'
C:/ruby/lib/ruby/gems/1.8/gems/haml-2.2.1/lib/sass/plugin.rb:83:in `update_stylesheet'
C:/ruby/lib/ruby/gems/1.8/gems/haml-2.2.1/lib/sass/plugin.rb:69:in `update_stylesheets'
C:/ruby/lib/ruby/gems/1.8/gems/haml-2.2.1/lib/sass/plugin.rb:64:in `each'
C:/ruby/lib/ruby/gems/1.8/gems/haml-2.2.1/lib/sass/plugin.rb:64:in `update_stylesheets'
C:/ruby/lib/ruby/gems/1.8/gems/haml-2.2.1/lib/sass/plugin.rb:62:in `each'
C:/ruby/lib/ruby/gems/1.8/gems/haml-2.2.1/lib/sass/plugin.rb:62:in `update_stylesheets'
C:/ruby/lib/ruby/gems/1.8/gems/haml-2.2.1/lib/sass/plugin/rails.rb:16:in `process_without_compass'
C:/ruby/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.7/lib/compass/app_integration/rails/action_controller.rb:7:in `process'
C:/ruby/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/base.rb:391:in `process'
C:/ruby/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/base.rb:386:in `call'
C:/ruby/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/routing/route_set.rb:433:in `call'
C:/ruby/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/dispatcher.rb:88:in `dispatch'
C:/ruby/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/dispatcher.rb:111:in `_call'
C:/ruby/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/dispatcher.rb:82:in `initialize'
C:/ruby/lib/ruby/gems/1.8/gems/activerecord-2.3.2/lib/active_record/query_cache.rb:29:in `call'
C:/ruby/lib/ruby/gems/1.8/gems/activerecord-2.3.2/lib/active_record/query_cache.rb:29:in `call'
C:/ruby/lib/ruby/gems/1.8/gems/activerecord-2.3.2/lib/active_record/connection_adapters/abstract/query_cache.rb:34:in `cache'
C:/ruby/lib/ruby/gems/1.8/gems/activerecord-2.3.2/lib/active_record/query_cache.rb:9:in `cache'
C:/ruby/lib/ruby/gems/1.8/gems/activerecord-2.3.2/lib/active_record/query_cache.rb:28:in `call'
C:/ruby/lib/ruby/gems/1.8/gems/activerecord-2.3.2/lib/active_record/connection_adapters/abstract/connection_pool.rb:361:in `call'
C:/ruby/lib/ruby/gems/1.8/gems/rack-1.0.0/lib/rack/head.rb:9:in `call'
C:/ruby/lib/ruby/gems/1.8/gems/rack-1.0.0/lib/rack/methodoverride.rb:24:in `call'
C:/ruby/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/params_parser.rb:15:in `call'
C:/ruby/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/rewindable_input.rb:25:in `call'
C:/ruby/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/session/cookie_store.rb:93:in `call'
C:/ruby/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/reloader.rb:9:in `call'
C:/ruby/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/failsafe.rb:11:in `call'
C:/ruby/lib/ruby/gems/1.8/gems/rack-1.0.0/lib/rack/lock.rb:11:in `call'
C:/ruby/lib/ruby/gems/1.8/gems/rack-1.0.0/lib/rack/lock.rb:11:in `synchronize'
C:/ruby/lib/ruby/gems/1.8/gems/rack-1.0.0/lib/rack/lock.rb:11:in `call'
C:/ruby/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/dispatcher.rb:106:in `call'
C:/ruby/lib/ruby/gems/1.8/gems/rails-2.3.2/lib/rails/rack/static.rb:31:in `call'
C:/ruby/lib/ruby/gems/1.8/gems/rack-1.0.0/lib/rack/urlmap.rb:46:in `call'
C:/ruby/lib/ruby/gems/1.8/gems/rack-1.0.0/lib/rack/urlmap.rb:40:in `each'
C:/ruby/lib/ruby/gems/1.8/gems/rack-1.0.0/lib/rack/urlmap.rb:40:in `call'
C:/ruby/lib/ruby/gems/1.8/gems/rails-2.3.2/lib/rails/rack/log_tailer.rb:17:in `call'
C:/ruby/lib/ruby/gems/1.8/gems/rack-1.0.0/lib/rack/content_length.rb:13:in `call'
C:/ruby/lib/ruby/gems/1.8/gems/rack-1.0.0/lib/rack/chunked.rb:15:in `call'
C:/ruby/lib/ruby/gems/1.8/gems/rack-1.0.0/lib/rack/handler/mongrel.rb:61:in `process'
C:/ruby/lib/ruby/gems/1.8/gems/mongrel-1.1.5-x86-mswin32-60/lib/mongrel.rb:159:in `process_client'
C:/ruby/lib/ruby/gems/1.8/gems/mongrel-1.1.5-x86-mswin32-60/lib/mongrel.rb:158:in `each'
C:/ruby/lib/ruby/gems/1.8/gems/mongrel-1.1.5-x86-mswin32-60/lib/mongrel.rb:158:in `process_client'
C:/ruby/lib/ruby/gems/1.8/gems/mongrel-1.1.5-x86-mswin32-60/lib/mongrel.rb:285:in `run'
C:/ruby/lib/ruby/gems/1.8/gems/mongrel-1.1.5-x86-mswin32-60/lib/mongrel.rb:285:in `initialize'
C:/ruby/lib/ruby/gems/1.8/gems/mongrel-1.1.5-x86-mswin32-60/lib/mongrel.rb:285:in `new'
C:/ruby/lib/ruby/gems/1.8/gems/mongrel-1.1.5-x86-mswin32-60/lib/mongrel.rb:285:in `run'
C:/ruby/lib/ruby/gems/1.8/gems/mongrel-1.1.5-x86-mswin32-60/lib/mongrel.rb:268:in `initialize'
C:/ruby/lib/ruby/gems/1.8/gems/mongrel-1.1.5-x86-mswin32-60/lib/mongrel.rb:268:in `new'
C:/ruby/lib/ruby/gems/1.8/gems/mongrel-1.1.5-x86-mswin32-60/lib/mongrel.rb:268:in `run'
C:/ruby/lib/ruby/gems/1.8/gems/rack-1.0.0/lib/rack/handler/mongrel.rb:34:in `run'
C:/ruby/lib/ruby/gems/1.8/gems/rails-2.3.2/lib/commands/server.rb:111
C:/ruby/lib/ruby/site_ruby/1.8/rubygems/custom_require.rb:31:in `gem_original_require'
C:/ruby/lib/ruby/site_ruby/1.8/rubygems/custom_require.rb:31:in `require'
./script/server:3
-e:2:in `load'
-e:2
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: Undefined mixin 'blueprint-typography'.\A on line 2 of C:/Users/Cliff/Documents/Aptana Studio/SkuleClubs/app/stylesheets/ben.sass\A \A 1: @import base.sass\A 2: +blueprint-typography\A 3: \A 4: \A 5: //Variables\A "; }
