/*
Sass::SyntaxError: Undefined mixin 'blueprint-typography'.
on line 2 of /media/USB DRIVE/Projects/SkuleClubs/app/stylesheets/ben.sass

1: @import base.sass
2: +blueprint-typography
3: 
4: 
5: //Variables


Backtrace:
/media/USB DRIVE/Projects/SkuleClubs/app/stylesheets/ben.sass:2
/usr/lib/ruby/gems/1.8/gems/haml-edge-2.1.56/lib/sass/tree/mixin_node.rb:27:in `_perform'
/usr/lib/ruby/gems/1.8/gems/haml-edge-2.1.56/lib/sass/tree/node.rb:156:in `perform'
/usr/lib/ruby/gems/1.8/gems/haml-edge-2.1.56/lib/sass/tree/node.rb:200:in `perform_children'
/usr/lib/ruby/gems/1.8/gems/haml-edge-2.1.56/lib/sass/tree/node.rb:200:in `map'
/usr/lib/ruby/gems/1.8/gems/haml-edge-2.1.56/lib/sass/tree/node.rb:200:in `perform_children'
/usr/lib/ruby/gems/1.8/gems/haml-edge-2.1.56/lib/sass/tree/node.rb:191:in `perform!'
/usr/lib/ruby/gems/1.8/gems/haml-edge-2.1.56/lib/sass/tree/node.rb:179:in `_perform'
/usr/lib/ruby/gems/1.8/gems/haml-edge-2.1.56/lib/sass/tree/node.rb:156:in `perform'
/usr/lib/ruby/gems/1.8/gems/haml-edge-2.1.56/lib/sass/tree/node.rb:103:in `render'
/usr/lib/ruby/gems/1.8/gems/haml-edge-2.1.56/lib/sass/plugin.rb:83:in `update_stylesheet'
/usr/lib/ruby/gems/1.8/gems/haml-edge-2.1.56/lib/sass/plugin.rb:69:in `update_stylesheets'
/usr/lib/ruby/gems/1.8/gems/haml-edge-2.1.56/lib/sass/plugin.rb:64:in `each'
/usr/lib/ruby/gems/1.8/gems/haml-edge-2.1.56/lib/sass/plugin.rb:64:in `update_stylesheets'
/usr/lib/ruby/gems/1.8/gems/haml-edge-2.1.56/lib/sass/plugin.rb:62:in `each'
/usr/lib/ruby/gems/1.8/gems/haml-edge-2.1.56/lib/sass/plugin.rb:62:in `update_stylesheets'
/usr/lib/ruby/gems/1.8/gems/haml-edge-2.1.56/lib/sass/plugin/rails.rb:16:in `process_without_compass'
/usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/lib/compass/app_integration/rails/action_controller.rb:7:in `process'
/usr/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/base.rb:391:in `process'
/usr/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/base.rb:386:in `call'
/usr/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/routing/route_set.rb:433:in `call'
/usr/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/dispatcher.rb:88:in `dispatch'
/usr/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/dispatcher.rb:111:in `_call'
/usr/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/dispatcher.rb:82:in `initialize'
/usr/lib/ruby/gems/1.8/gems/activerecord-2.3.2/lib/active_record/query_cache.rb:29:in `call'
/usr/lib/ruby/gems/1.8/gems/activerecord-2.3.2/lib/active_record/query_cache.rb:29:in `call'
/usr/lib/ruby/gems/1.8/gems/activerecord-2.3.2/lib/active_record/connection_adapters/abstract/query_cache.rb:34:in `cache'
/usr/lib/ruby/gems/1.8/gems/activerecord-2.3.2/lib/active_record/query_cache.rb:9:in `cache'
/usr/lib/ruby/gems/1.8/gems/activerecord-2.3.2/lib/active_record/query_cache.rb:28:in `call'
/usr/lib/ruby/gems/1.8/gems/activerecord-2.3.2/lib/active_record/connection_adapters/abstract/connection_pool.rb:361:in `call'
/usr/lib/ruby/gems/1.8/gems/rack-1.0.0/lib/rack/head.rb:9:in `call'
/usr/lib/ruby/gems/1.8/gems/rack-1.0.0/lib/rack/methodoverride.rb:24:in `call'
/usr/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/params_parser.rb:15:in `call'
/usr/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/rewindable_input.rb:25:in `call'
/usr/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/session/cookie_store.rb:93:in `call'
/usr/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/reloader.rb:9:in `call'
/usr/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/failsafe.rb:11:in `call'
/usr/lib/ruby/gems/1.8/gems/rack-1.0.0/lib/rack/lock.rb:11:in `call'
/usr/lib/ruby/gems/1.8/gems/rack-1.0.0/lib/rack/lock.rb:11:in `synchronize'
/usr/lib/ruby/gems/1.8/gems/rack-1.0.0/lib/rack/lock.rb:11:in `call'
/usr/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/dispatcher.rb:106:in `call'
/usr/lib/ruby/gems/1.8/gems/rails-2.3.2/lib/rails/rack/static.rb:31:in `call'
/usr/lib/ruby/gems/1.8/gems/rack-1.0.0/lib/rack/urlmap.rb:46:in `call'
/usr/lib/ruby/gems/1.8/gems/rack-1.0.0/lib/rack/urlmap.rb:40:in `each'
/usr/lib/ruby/gems/1.8/gems/rack-1.0.0/lib/rack/urlmap.rb:40:in `call'
/usr/lib/ruby/gems/1.8/gems/rails-2.3.2/lib/rails/rack/log_tailer.rb:17:in `call'
/usr/lib/ruby/gems/1.8/gems/rack-1.0.0/lib/rack/content_length.rb:13:in `call'
/usr/lib/ruby/gems/1.8/gems/rack-1.0.0/lib/rack/handler/webrick.rb:46:in `service'
/usr/lib/ruby/1.8/webrick/httpserver.rb:104:in `service'
/usr/lib/ruby/1.8/webrick/httpserver.rb:65:in `run'
/usr/lib/ruby/1.8/webrick/server.rb:173:in `start_thread'
/usr/lib/ruby/1.8/webrick/server.rb:162:in `start'
/usr/lib/ruby/1.8/webrick/server.rb:162:in `start_thread'
/usr/lib/ruby/1.8/webrick/server.rb:95:in `start'
/usr/lib/ruby/1.8/webrick/server.rb:92:in `each'
/usr/lib/ruby/1.8/webrick/server.rb:92:in `start'
/usr/lib/ruby/1.8/webrick/server.rb:23:in `start'
/usr/lib/ruby/1.8/webrick/server.rb:82:in `start'
/usr/lib/ruby/gems/1.8/gems/rack-1.0.0/lib/rack/handler/webrick.rb:13:in `run'
/usr/lib/ruby/gems/1.8/gems/rails-2.3.2/lib/commands/server.rb:111
/usr/local/lib/site_ruby/1.8/rubygems/custom_require.rb:31:in `gem_original_require'
/usr/local/lib/site_ruby/1.8/rubygems/custom_require.rb:31:in `require'
script/server:3
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: Undefined mixin 'blueprint-typography'.\A on line 2 of /media/USB DRIVE/Projects/SkuleClubs/app/stylesheets/ben.sass\A \A 1: @import base.sass\A 2: +blueprint-typography\A 3: \A 4: \A 5: //Variables\A "; }
