/* line 6, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 17, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
*:focus {
  outline: 0; }

/* line 20, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body {
  line-height: 1em;
  color: black;
  background: #fff; }

/* line 23, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
/* line 27, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 30, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 33, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q, blockquote {
  quotes: "" ""; }
  /* line 101, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
  q:before, q:after, blockquote:before, blockquote:after {
    content: ""; }

/* line 36, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
img a {
  border: none; }

/* Layout */
/* line 22, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%; }

/* line 53, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h1 {
  font-weight: normal;
  color: #222222;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em; }
  /* line 58, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  h1 img {
    margin: 0; }

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h2 {
  font-weight: normal;
  color: #222222;
  font-size: 2em;
  margin-bottom: 0.75em; }

/* line 64, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h3 {
  font-weight: normal;
  color: #222222;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em; }

/* line 69, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h4 {
  font-weight: normal;
  color: #222222;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em; }

/* line 74, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h5 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }

/* line 79, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h6 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold; }

/* line 83, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0; }

/* line 85, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
p {
  margin: 0 0 1.5em; }
  /* line 87, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  p img.left {
    display: inline;
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0; }
  /* line 91, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  p img.right {
    display: inline;
    float: right;
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0; }

/* line 95, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
a {
  text-decoration: underline;
  color: #000099; }
  /* line 12, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:visited {
    color: #000066; }
  /* line 15, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:focus {
    color: black; }
  /* line 18, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:hover {
    color: black; }
  /* line 21, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:active {
    color: #cc0099; }

/* line 98, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic; }

/* line 102, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
strong {
  font-weight: bold; }

/* line 104, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
em {
  font-style: italic; }

/* line 106, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dfn {
  font-style: italic;
  font-weight: bold; }

/* line 109, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
sup, sub {
  line-height: 0; }

/* line 111, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
abbr, acronym {
  border-bottom: 1px dotted #666; }

/* line 113, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
address {
  margin: 0 0 1.5em;
  font-style: italic; }

/* line 116, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
del {
  color: #666; }

/* line 118, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
pre {
  margin: 1.5em 0;
  white-space: pre; }

/* line 121, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }

/* line 123, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
li ul, li ol {
  margin: 0 1.5em; }

/* line 125, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
ul {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: disc; }

/* line 128, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
ol {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: decimal; }

/* line 131, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dl {
  margin: 0 0 1.5em 0; }
  /* line 133, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  dl dt {
    font-weight: bold; }

/* line 135, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dd {
  margin-left: 1.5em; }

/* line 137, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
table {
  margin-bottom: 1.4em;
  width: 100%; }

/* line 140, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
th {
  font-weight: bold; }

/* line 142, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
thead th {
  background: #c3d9ff; }

/* line 144, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
th, td, caption {
  padding: 4px 10px 4px 5px; }

/* line 146, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
tr.even td {
  background: #e5ecf9; }

/* line 148, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
tfoot {
  font-style: italic; }

/* line 150, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
caption {
  background: #eee; }

/* line 152, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
.quiet {
  color: #666666; }

/* line 154, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
.loud {
  color: #111111; }


/* line 20, ../../../app/stylesheets/style.sass */
#skulebar {
  background: #eee;
  height: 2em;
  margin: 0 0 1em 0;
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px; }
  /* line 25, ../../../app/stylesheets/style.sass */
  #skulebar p {
    margin: 0; }

/* line 30, ../../../app/stylesheets/style.sass */
#header h1 {
  float: left;
  width: 40%;
  line-height: 50px;
  margin: 0; }
  /* line 37, ../../../app/stylesheets/style.sass */
  #header h1 img {
    float: left;
    width: 50px;
    height: 50px;
    background: #222222;
    margin-right: 0.25em; }
/* line 44, ../../../app/stylesheets/style.sass */
#header #menu {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  display: inline-block;
  float: right;
  font-size: 1.25em;
  margin: 0.9em 0; }
  /* line 5, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  #header #menu {
    display: block; }
  /* line 50, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
  #header #menu li {
    list-style-type: none;
    margin-left: 0px;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 4px;
    padding-right: 4px; }
    /* line 40, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
    #header #menu li.first {
      padding-left: 0px; }
    /* line 42, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
    #header #menu li.last {
      padding-right: 0px; }
  /* line 50, ../../../app/stylesheets/style.sass */
  #header #menu li {
    margin: 0 0.5em;
    padding: 0 0.5em;
    background: #222222;
    font-weight: bold;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: white;
    line-height: 1.5em; }
    /* line 59, ../../../app/stylesheets/style.sass */
    #header #menu li a {
      background: white;
      font-weight: normal;
      display: inline-block;
      margin: -0.25em -0.5em;
      color: #000; }

/* line 67, ../../../app/stylesheets/style.sass */
#banner {
  background: #222222;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 150px;
  margin: 0.5em 0; }
  /* line 73, ../../../app/stylesheets/style.sass */
  #banner #info {
    background: white;
    margin: 35px 0;
    height: 100px -20px;
    width: 35%;
    padding: 10px 2em 10px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    color: #666666; }

/* line 83, ../../../app/stylesheets/style.sass */
#container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block; }
  /* line 5, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  #container {
    display: block; }

/* line 8, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.sass */
#content ul li {
  list-style-type: none;
  margin-left: 0px; }

/* line 90, ../../../app/stylesheets/style.sass */
#header, #banner, #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px; }
  /* line 97, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #header, * html #banner, * html #footer {
    overflow-x: hidden; }

/* line 94, ../../../app/stylesheets/style.sass */
#left {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px; }
  /* line 97, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #left {
    overflow-x: hidden; }

/* line 98, ../../../app/stylesheets/style.sass */
#sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px; }
  /* line 97, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #sidebar {
    overflow-x: hidden; }
  /* line 102, ../../../app/stylesheets/style.sass */
  #sidebar .widget {
    background: #fafafa;
    height: 7em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 1em; }

/* line 108, ../../../app/stylesheets/style.sass */
#content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px; }
  /* line 97, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #content {
    overflow-x: hidden; }

/* line 113, ../../../app/stylesheets/style.sass */
#footer {
  margin-top: 2em;
  background: black;
  padding: 1em 0; }
  /* line 118, ../../../app/stylesheets/style.sass */
  #footer h2, #footer dt {
    font-size: 1em;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: bold;
    margin: 0 0 0.25em 0; }
  /* line 126, ../../../app/stylesheets/style.sass */
  #footer p, #footer a {
    color: #333; }
  /* line 129, ../../../app/stylesheets/style.sass */
  #footer #address {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 230px;
    padding-left: 20px; }
    /* line 97, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html #footer #address {
      overflow-x: hidden; }
  /* line 133, ../../../app/stylesheets/style.sass */
  #footer #sitemap {
    display: inline;
    float: left;
    margin-right: 0;
    width: 690px; }
    /* line 97, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html #footer #sitemap {
      overflow-x: hidden; }
    /* line 135, ../../../app/stylesheets/style.sass */
    #footer #sitemap dl {
      float: left;
      margin: 0 1.25em; }
      /* line 139, ../../../app/stylesheets/style.sass */
      #footer #sitemap dl dd {
        margin: 0; }
  /* line 144, ../../../app/stylesheets/style.sass */
  #footer #copyright {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 950px;
    padding-left: 20px;
    font-size: 0.9em;
    margin: 2em 0 0; }
    /* line 97, ../../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html #footer #copyright {
      overflow-x: hidden; }

/* Typography */
/* line 152, ../../../app/stylesheets/style.sass */
a {
  text-decoration: none;
  font-weight: bold; }
  /* line 155, ../../../app/stylesheets/style.sass */
  a:hover {
    text-decoration: underline; }
