.entry
	%h2 Welcome F!rosh of 1T3 (and all citizens of Skule&trade;)!
	%p We've got a lot in store for you this year, so get ready!
	%p There are tons of new things to discover and fun times to be had...
	%p So lets start this year off with a bang! See you at F!rosh Week!
	%blockquote - The Engineering Society

