.entry
	%h2 Welcome F!rosh of 1T3 (and all citizens of Skule&trade;)!
	%p We've got a lot in store for you this year, so get ready!
	%p There are tons of new things to discover and fun times to be had...
	%p So lets start this year off with a bang! See you at F!rosh Week!
	%blockquote - The Engineering Society
#sock= link_to "", "http://socks.skule.ca", :style => "width: 100px; height: 188px; display: block; background: url(http://socks.skule.ca/images/sidesock.png) no-repeat; position: absolute; top: 120px; left: 4%;"
