<div id="banner">
	<div id="info">
		<% if @page_description %>
			<%=h @page_description %>
		<% else %>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam malesuada, nunc vitae dapibus fringilla, lectus purus suscipit mauris, ac blandit tortor orci ut mi. Nulla fringilla nisi massa.
		<% end %>
	</div>
</div>
