#auto_search_result_list
	-if @club
		.clubs_container
			-@club.uniq.each do |club|
				= render :partial => 'layouts/partials/club_box', :locals => {:club => club}
			%div
				="Search for "+@query
