<div id="footer">
	<div id="address">
		<h2><%= @club ? @club.name : "Skule.ca" %></h2>
		<p>
			B740 Sandford Fleming Building <br />
			10 King's College Road <br />
			Toronto, Ontario, Canada M5S 3G4
	</div>

	<div id="sitemap">
		<dl>
			<dt>About</dt>
			<dd><a href="#">History</a></dd>
			<dd><a href="#">FAQ</a></dd>
		</dl>
		<dl>		
			<dt>Governance</dt>
			<dd><a href="#">Officers</a></dd>
			<dd><a href="#">Directors</a></dd>
			<dd><a href="#">Club Chairs</a></dd>
		</dl>
		<dl>		
			<dt>Documents</dt>
			<dd><a href="#">Bylaws</a></dd>
			<dd><a href="#">Minutes</a></dd>
			<dd><a href="#">Policies</a></dd>
			<dd><a href="#">Misc</a></dd>
		</dl>
	</div>

	<div id="copyright">
		Copyright © 1970-2009 <a href="#">University of Toronto Engineering Society</a>. 
		All Rights Reserved | 
		<a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a> | 
		<a href="#">Help</a> and <a href="#">Feedback</a> |
		Updated Jan. 30, 2009
	</div>
</div>
