#header
	!header_height = 50px
	h1
		:float left
		:width 40%
		:line-height= !header_height
		:margin 0
		:position relative 
		
		a
			:color= !color_foreground
			:float left
			&:hover
				:text-decoration none
		
		.avatar
			:float left
			:margin= 0 0.25em 0 -1 * !overlap		
			
		.alpha
			:background red
			+styled-corners
			:color #fff
			:font-size 0.3em
			:padding 0 0.5em
			:text-transform uppercase
			:margin 1.01em 0.5em
			:height 1.5em
			:line-height 1.5em
			:float left
	#top
		:background= !background_main
		:position relative
		:height= !avatar_size
		:padding 10px 0
		
		#menu
			+horizontal-list
			:float right
			:font-size 1.25em
			:margin 0
			:position absolute
			:bottom 1.5em
			:right 1em
		
			li
				:margin 0 0.25em
				:padding 0 0.5em
				:background= !color_foreground
				+styled-corners
				:font-weight bold
				:color white
				:line-height 1.5em
			
				a
					:background= !background_main 
					:font-weight normal
					:display inline-block
					:margin -0.25em -0.5em
					:padding 0.05em 0.51em
					:color #000
				
		
	#banner
		:background= url("/images/banners/skule.png") !color_foreground "center" "center"
		//+styled-corners
		:margin= 0 0 0 -1 * !overlap
		:padding-right= !overlap*2

		#info
			:background white
			:margin= 2em 0
			:width 35%
			:padding 10px 2em
			:border-left= !overlap "solid" !background_body
			+rounded-corners(0 !corner_radius_default !corner_radius_default 0)
			+quiet
