#left
	//note: dimensions defined in _layout.sass
	
	ul
		:list-style none
		:margin 0 0 2em 0
		
		li
			:background url("/images/arrow.png") center right no-repeat
			:color #fff
			:font-size 1.2em
			:line-height 1.75em
			:height 1.75em
			:text-indent 0.5em
			:margin 0
			
			a
				:display block
				:color= !color_foreground
				:background= !background_left
				:font-size 0.85em
