#skulebar 
	:margin 0 auto 2em
	:line-height 2em
	:height 2em
	:font-size 12px	

	#skule
		:float left
		:background #fff 5px url(/images/icons/hardhat.png) no-repeat
		+rounded-corners(0 0 2px 2px)
		:margin 0 5%
		:text-align center

		:text-transform capitalize
		:font-weight bold
		:padding 0 0.5em 0 25px
		&:hover
			:text-decoration none
			:color #000
		
	a
		:color= #eee - #444
		:font-weight normal
				
	#bookmarks
		+horizontal-list
		:float left
		li
			a.google
				+background-icon("icons/google_favicon.png")
			a.facebook
				+background-icon("icons/favicon_facebook.gif")
				
	#message
		:float left
		p
			:margin 0

	form
		:float left
		:margin 0 0.5em
		
		input
			:height 1.7em
			:border none
			:margin 0
			:color #999
			:float left
			:font-size 1em
			
		#search_search
			:padding 0.3em 0.35em 0
			+rounded-corners(0 0 0 2px)
			:width 20em
			:background #fff
			
		#club_submit
			:background #fff url("/images/icons/magnifier.png") center center no-repeat
			:text-indent -1000px
			:overflow hidden
			:height 2em
			:width 2em
			:padding 0 1em
			+rounded-corners(0 0 2px 0)

		
	#user
		:float right
		:display block
		:height 2em
		:line-height 2em
		:color #eee
		:margin 0 4%
		a
			:color #fff
		//:padding-right 15px
		//:background url("/images/icons/bullet_arrow_down.png") right 50% no-repeat
			
		
	a.more
		+replace-text("icons/bullet_arrow_down.png")
		:display inline-block
		:width 10px
		:height 2em
	
		
		
