- if club.contact || club.address
	.widget.events
		%h4 Contact Information
		- unless club.address.blank?
			%strong Address:
			=display_multi_line_Wstring(club.address)
		- unless club.contact.blank?
			%strong Email: 
			=club.contact
