- if club.contact || club.address
	.widget.events
		%h4 Contact Information
		%p
			- if !club.address.blank?
				Address:
				%br
				=display_multi_line_string(club.address)
				%br
				%br
			- if !club.contact.blank?
				Email: 
				=club.contact