- unless events.blank?
	.widget.events
		%h4 Upcoming Events
		%ul
			-events.each do |event|
				%li
					= render :partial => 'layouts/partials/date_ticker', :locals => {:date => event.start}
					.name(title="#{event.name}")= event.name
					.timelocation
						.time=event.start.strftime('%a. @ %I:%M%p')
						|
						.location
							= abbrev(event.location, 10)
