body.clubs.index
	#main
		#content
			+column(20)

// CLUB DIRECTORY
// /clubs/index
#clubs_container
	:margin 0.5em
	
	.club
		:margin 0 0.5% 0.5em 0
		:padding 2px
		:width 32%
		:float left
		:position relative
		
		&.onskuleclubs
			:background #ececec
			+rounded-corners(0 5px 0 5px)
			ul li a
				:color #999
	
		//logo
		.avatar
			:float left
			:margin-right 0.5em
	
		//name
		h3
			:margin 0
			:font-size 1.25em
	
		//tagline
		span
			:font-style italic
			:width 15em
			:height 1.3em
			:display block
			:overflow hidden
			:line-height 1.3em
	
		//tags
		ul
			+horizontal-list
			li
				//:margin 0 0.25em 0 0
				:padding 0 0.5em 0 0
				a
					:margin 0
					:color #ccc
		//affiliated
		.affiliated
			:width 5px
			:height 5px
			:position absolute
			:top 0
			:left 0
			:background gold
