<p>
  <b>Title:</b>
  <%=h @page.title %>
</p>

<p>
  <b>Content:</b>
  <%= @page.content %>
</p>

<%= link_to 'Edit', edit_club_page_path(@club, @page) %> |
<%= link_to 'Back', :action => 'admin' %>
