<h1>Listing large_posts</h1>



<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
  </tr>

<% @large_posts.each do |large_post| %>
  <tr>
    <td><%=h large_post.title %></td>
    <td><%= large_post.content %></td>
    <td><%= link_to 'Show', :action => 'show', :club_id => @club, :id => large_post.id %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @large_posts %>

<br />
