<p>
  <b>Title:</b>
  <%=h @large_post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @large_post.content %>
</p>

<p>
	<% if @large_post.created_at != @large_post.updated_at%>
	Last updated:
	<%= @large_post.updated_at %>
	<%end%>
</p>

<%= link_to 'Back', club_large_posts_path %>