<p>
  <b>Title:</b>
  <%=h @large_post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @large_post.content %>
</p>


<%= link_to 'Edit', edit_large_post_path(@large_post) %> |
<%= link_to 'Back', large_posts_path %>