-if @club.show_banner?(@controller.controller_name, params[:id])
	#banner{:style => "background-image: url(\"#{club_image_path(@club, 'banner')}\")"}
		-if @club.description && @club.web_name != "engsoc" #remove this conditional
			#info= @club.description
		-else
			%div(style="height:200px")
			
			
