=@page_title+" - " unless @page_title.blank?

-case @site_section
	-when "admin"
		= "Backend - "
	-when "su_admin"
		= "SU-Backend - "
	-when "clubs"
		= @club.name + " - "

SKULE&trade;

-if RAILS_ENV.to_s == "development"
	(
	= @controller.controller_name + " : " + @controller.action_name
	)
