#feed
	.feed_item
		:margin 1em 1em 1em 0
		:position relative
		
		h4
			:margin 0
			:font-size 1.5em
			:margin-left 0.5em
			
			a
				:padding 0 0em
				:margin-left 0em
				:color black
				:font-weight normal
		
		.content
			:background #ececec
			+styled-corners
			:padding= 0.25em * 1.5 0.5em * 1.5
			:margin-left= 0.5em * 1.5
			:position relative
			
			a.more
				:display block
				:position absolute
				:right 0
				:bottom 0
				:padding= 0.25em * 1.5 0.5em * 1.5
			
		&.small_post
			
			.content
				:font-size 1.5em
				:background #ececec
				+styled-corners
				:padding 0.5em
				:margin-left 0.5em
				:color black
				
		&.large_post
		
		&.event
			.locationtime
				:position absolute
				:top 0
				:right 0
				:margin 0.5em -0.25em 0 0
				:color #999
				span
					:margin 0 0.25em
		.source
			:text-align right
			:display block
			:color #999
		
		.avatar, .date_ticker
			:float left
			:margin= 0 0.5em 0 -1 * !overlap
			
	.pagination
		:position relative
		:text-align center
		:font-size 1.25em
		:margin 1em
		span, a
			:padding 0 0.25em
		.disabled
			:display none
		.prev_page
			:position absolute
			:left 0
			:bottom 0
		.current
			:font-size 1.5em
		.next_page
			:position absolute
			:right 0
			:bottom 0

#add_feed_item_link
	:display block
	:text-align right
	:text-transform capitalize
	:margin 0 1em
	
body.digest #feed .feed_item,
#feed .feed_item.event
	h4,
	.content
		:margin-left= !avatar_size
