<div id="sidebar">
	<div class="widget">
		<ul>
			<li><%= link_to 'View Clubs', clubs_path %></li>
			<li><%= link_to 'View Updates', updates_path %></li>
			<li><%= link_to 'View Users', users_path %></li>
			<li><%= link_to 'View Admins', admins_path %></li>
		</ul>
	</div>
</div>
