<%= link_to "Skule.ca", "/", :id => "skule" %>

<form id="search">
	<input type="text" value="Search"/>
</form>

<ul id="bookmarks">
	<li><a href="#" class="google">Google</a></li>
	<li><a href="#" class="facebook">Facebook</a></li>
	<li><a href="#" class="more">More</a></li>
</ul>

<div id="message">
<%= flash[:notice] %>
</div>

<a href="#" id="user">John S.</a>

