<div id="skulebar">
	<%= link_to "Skule.ca", "/", :id => "skule" %>
	
    <% form_for :club, @search, :url => {:controller => 'clubs', :action => 'search', :id => club_id }  do |f| %>
	  <%= text_field_with_auto_complete :club, :search, {}, { :url => formatted_clubs_path( :js), :method => :get, :param_name => 'search' } %>
    <% end %>

	<ul id="bookmarks">
		<li><a href="#" class="google">Google</a></li>
		<li><a href="#" class="facebook">Facebook</a></li>
		<li><a href="#" class="more">More</a></li>
	</ul>

	<div id="message">
	<%= flash[:notice] %>
	</div>

	<a href="#" id="user">John S.</a>
</div>
